*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

.body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  padding: 1rem 1rem;
  text-align: center;
  background-color: rgb(180, 231, 240);
  padding-top: 4rem;
}

.main {
  padding: 1rem;
  max-width: 80ch;
  margin: 0 auto;
}

.main > * + * {
  margin-top: 3rem;
}

.main > * {
  border-top: 1rem solid rgb(180, 231, 240);
}

.main > *:first-child {
  border-top: none;
}

.navlinks {
  padding: 0, 25rem 0, 50rem;
  color: black;
  color: blue;
}

@media print {
  .navlinks {
    display: none;
  }
}

.navlinks:hover {
  background-color: rgb(255, 255, 255);
}

.navlinks:active {
  background-color: green;
}

::selection {
  background-color: aqua;
  color: darkblue;
}

.profession::after {
  content: "👨‍💻";
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}

.article-heading {
  position: relative;
  left: -1, 25rem;
}

.hire-me {
  position: absolute;
  top: 0rem;
  right: 0rem;
  border: 0, 3rem solid black;
  background-color: tomato;
  padding: 0, 3rem;
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }
}

.article {
  padding-left: 4.125rem;
  padding-right: 4.125rem;
}

.heading {
  font-size: 1em;
}

.main-header {
  font-size: 4rem;
}
