*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  padding: 10px 16px;
  text-align: center;
  background-color: rgb(180, 231, 240);
  padding-top: 66px;
}

.main {
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.main > * + * {
  margin-top: 48px;
}

.main > * {
  border-top: 15px solid rgb(180, 231, 240);
}

.main > *:first-child {
  border-top: none;
}

.navlinks {
  padding: 4px 8px;
  color: black;
  color: blue;
}

.navlinks:hover {
  background-color: rgb(255, 255, 255);
}

.navlinks:active {
  background-color: green;
}

::selection {
  background-color: aqua;
  color: darkblue;
}

.profession::after {
  content: "👨‍💻";
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}

.article-heading {
  position: relative;
  left: -20px;
}

.hire-me {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 3px solid black;
  background-color: tomato;
  padding: 5px;
}

.article {
  padding-left: 66px;
  padding-right: 66px;
}
