/* Basic styling */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  padding: 1rem 1rem;
  text-align: center;
  background-color: rgb(180, 231, 240);
  padding-top: 4rem;
}

.main {
  padding: 1rem;
  max-width: 80ch;
  margin: 0 auto;
}

.main > * + * {
  margin-top: 3rem;
}

.main > * {
  border-top: 1rem solid rgb(180, 231, 240);
}

.main > *:first-child {
  border-top: none;
}
/* Basicstyling-Ende*/
/* Navigation*/

.navigation {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

@media print {
  .navigation {
    display: none;
  }
}

.navigation a {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s;
}

.navigation a:hover {
  background-color: rgb(230, 230, 230);
}

/*Navigations-Ende*/

::selection {
  background-color: aqua;
  color: darkblue;
}

.profession::after {
  content: "👨‍💻";
}

.expflex {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .expflex {
    flex-direction: row;
    justify-content: space-between;
  }
}

.article-heading {
  position: relative;
  left: -1.25rem;
}

/*Hire Me Knopf */

.hire-me {
  position: absolute;
  top: 0rem;
  right: 0rem;
  border: 0.2rem solid black;
  background-color: tomato;
  padding: 0.3rem;
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }
}

/*Hire Me Knopf Ende*/

.article {
  padding-left: 4.125rem;
  padding-right: 4.125rem;
}

.heading {
  font-size: 1em;
}

.main-header {
  font-size: 4rem;
}
